<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/391b09ed9d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <title>YumYum導航</title>
</head>
<body class="d-flex flex-column h-100" {{#unless isAuthenticated}} style="background-image: url(https://img.freepik.com/free-photo/delicious-healthy-asian-food-gray-textured-background-with-copy-space_24972-1022.jpg?w=996&t=st=1705566580~exp=1705567180~hmac=8cf44e4f668108e3f9381440ee24249abd6b4c6bf6b9abff879a60309c9a78bd); background-repeat: no-repeat;background-size: cover; background-position: center center; height: 100vh; "{{/unless}}>
    {{> header}}
  <div class="container h-100">
    {{{ body }}}
  </div>

{{!-- google maps api --}}
  <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0WRVvYflSAKAnbroNbcjxmnpPwOfOOWk&callback=initMap&language=zh-TW&region=TW&v=weekly&libraries=places">
  </script>
  <script src="/main.js" defer></script>

{{!-- bootstrap --}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>