{{!-- 核心部分 --}}
<div class="row" style="height: 600px;">
  {{!-- 地圖 --}}
  <div class="col" id="map"></div>
  
  {{!-- 結果 --}}
  <div class="col overflow-auto" id="search-results" style="max-height: 600px;">
  </div>


</div>
