<div class="row justify-content-center align-items-center" style="height: 600px">
  <div class="col-md-6 shadow p-3 mb-5 bg-white rounded">
    <div class="mb-4 text-center">
      <h1 class="h3 font-weight-normal mb-3">Sign Up</h1>
    </div>
    <form class="form-signup" action="/signup" method="POST" style="width: 100%;">
      <div class="form-floating mb-3">
        <input type="text" id="name" name="name" class="form-control" value="{{ name }}" placeholder="Name" required autofocus>
        <label class="form-label" for="name">Name</label>
      </div>
      <div class="form-floating mb-3">
        <input type="text" id="email" name="email" class="form-control" value="{{ email }}" placeholder="Email" required>
        <label class="form-label" for="email">Email</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" id="password" name="password" class="form-control"  value="{{ password }}" placeholder="Password" required>
        <label class="form-label" for="password">Password</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" id="passwordCheck" name="passwordCheck" class="form-control" value="{{ passwordCheck }}" placeholder="Password Check"
          required>
        <label class="form-label" for="passwordCheck">Password Check</label>
      </div>
      <div class="text-center">
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
        <a href="/auth/google" class="btn btn-secondary btn-block">Google Login</a>
        <a href="/login" class="btn btn-outline-secondary">Login</a>
      </div>
    </form>
  </div>
</div>